<server description="defaultServer">

    <featureManager>
        <feature>webProfile-10.0</feature>
    </featureManager>

    <basicRegistry id="defaultBasicRegistry" realm="BasicRealm">
        <user name="username" password="password"/>
    </basicRegistry>
    <keyStore id="defaultKeyStore" password="password"/>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"  httpPort="9080"  httpsPort="9443"/>

    <logging consoleFormat="SIMPLE" consoleLogLevel="INFO"/>
    <logging messageFormat="TBASIC"  messageLogLevel="INFO"/>
    <logging traceSpecification="JPA=all"/>

    <variable name="jdbcLibDir" value="${server.config.dir}/lib"/>
    <variable name="db.host" value="localhost"/>
    <variable name="db.port" value="3306"/>
    <variable name="db.name" value="notecloud"/>
    <variable name="db.user" value="notecloudUser"/>
    <variable name="db.pass" value="admin@987"/>

    <jpa defaultPersistenceProvider="org.eclipse.persistence.jpa.PersistenceProvider">
        <defaultProperties>
            <property name="eclipselink.ddl-generation" value="drop-and-create-tables"/>
            <property name="javax.persistence.lock.timeout" value="4000"/>
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQL9Dialect"/>
        </defaultProperties>
    </jpa>

    <dataSource id="MySQLDS" jndiName="jdbc/MySQLDS">
        <jdbcDriver id="mysql-driver" libraryRef="MySqlJDBCLib"/>
        <properties serverName="${db.host}"  portNumber="${db.port}"  databaseName="notecloud"
                    user="notecloudUser"
                    password="admin@987"
                    useSSL="false" serverTimezone="UTC"/>
    </dataSource>

    <webApplication location="note-cloud.war" contextRoot="/"/>

    <library id="MySqlJDBCLib">
        <fileset dir="${jdbcLibDir}/global" includes="mysql-connector-j-*.jar"/>
    </library>
</server>