<server>
    <featureManager>
        <feature>webProfile-10.0</feature>
        <feature>persistence-3.1</feature>
    </featureManager>
    <logging traceSpecification="JPA=all"/>

    <!-- Puertos libres en local -->
    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9081"
                  httpsPort="9444"/>

    <!-- Driver colocado en /config/lib/global -->
    <library id="mysqlLib">
        <fileset dir="${server.config.dir}/lib/global"
                 includes="mysql-connector-j-*.jar"/>
    </library>

    <dataSource id="MySQLDS" jndiName="jdbc/MySQLDS">
        <jdbcDriver libraryRef="mysqlLib"/>
        <properties
                databaseName="${env.DB_NAME"
                serverName="${env.DB_HOST}"
                portNumber="${env.DB_PORT}"
                user="${env.DB_USER}"
                password="${env.DB_PWD}"/>
    </dataSource>

    <webApplication location="note-cloud.war" contextRoot="/"/>
</server>
